*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    width: 40%;
    padding: 60px 0;
    border-radius: 200px;
    background: linear-gradient(to right,#259fb4,#861a2c,#0052d4);
}
#timer{
    background: #7c7575;
    width: 90%;
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    box-shadow:  0 0 30px #000000;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    font-size: 35px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.buttons button{
    padding: 10px 25px;
    border: none;
    background: rgb(254, 254, 255);
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 100px;
}